@charset "UTF-8";
body {
  font-family: '游ゴシック体', 'Yu Gothic', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'sans-serif';
  text-decoration: none;
  color: #555; }

a {
  text-decoration: none; }

/*** sp ***/
/*** sp ***/
